#
# Copyright (c) 2019 Embest Tech Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

config ELEMENT14_MINODE_LIB
	bool "element14 mi:node starter kit library"
	depends on GPIO
	# depends on HEAP_MEM_POOL_SIZE != 0
	help
	  This enables element14 mi:node starter kit library support.

if ELEMENT14_MINODE_LIB

config ELEMENT14_MINODE_LIB_SWITCH
	bool "Switch module"
	help
	  This enables switch module of element14 mi:node starter kit support.

config ELEMENT14_MINODE_LIB_LIGHT_SENSOR
	bool "Light sensor module"
	help
	  This enables light sensor module of element14 mi:node starter kit support.

if ELEMENT14_MINODE_LIB_LIGHT_SENSOR

config ELEMENT14_MINODE_LIB_LIGHT_SAMPLINGS_COUNT
	int "Number of ADC samplings each light level get"
	range 1 8
	default 3
	help
	  Number of ADC samplings when try to get light level. And an Average
		will be the final value.

endif

endif
